/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */
 

.chat-log{
    /*background: url('http://i.imgur.com/MK1U1Zq.png?1') top right no-repeat;*/
    background: url('http://i.imgur.com/d5eRwZB.png');
    /*background: url('http://i.imgur.com/1DwA7IV.png);*/
    opacity: 1 !important;
}
body{
        background: url('http://i.imgur.com/nsHwcC2.jpg') !important;
        background-size: contain;
}
.menugroup .button{
  background:url('http://i.imgur.com/ccjnsrM.png') !important;
  color: #e2f3d1;
  border: solid 1px  #437610;
  opacity: .9 !important;
}
.menugroup .button:hover{
  background: url('http://i.imgur.com/Mk3O2K2.png') !important;
  border: solid 1px  #437610;
  color: #e2f3d1;

}
.select{
  background: url('http://i.imgur.com/vJSmvR4.png') !important;
  opacity: .7;
  border: none;
}
.menugroup button.big {
width: 230px;
padding: 6px 7px 6px 7px;
font-size: 14pt;
}
.menugroup .button.disabled{
background: white !important;
}
.label{
        color: #c1ad98;
}
.challenge{
        background: #558327;
    border: 1px solid #437610;
}
.backdrop{
        background: url('http://i.imgur.com/HdY0Q3h.png') !important;
}
/*.moveselect{
text-align: center;
}
.moveselect button{
  background: -webkit-linear-gradient(#4cffa6, #00cc66) !important;
  background: -o-linear-gradient(#4cffa6, #00cc66) !important;
  background: -moz-linear-gradient(#4cffa6, #00cc66) !important;
  background: linear-gradient(#7fffbf, #00cc66) !important;
  height: 2em;
  width: 7em;
  bottom: 5px;
  border: .2em solid #00994c;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  text-align: vertical center;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 1.5em;
  color: #006633;
}*/
.whatdo{
  padding-left: auto;
  padding-right: auto;
}
.tabbar a.button.cur, .tabbar a.button.cur:hover{
  background: url('http://i.imgur.com/xkzpVn8.png') !important;
  color: black;
  border: 1px solid #c8af86 !important;
}
.maintabbarbottom{
  background: #e4caa1;
}
.tabbar a.button{
  background: url('http://i.imgur.com/dH9EtTs.png') !important;
  border: 1px solid #c8af86 !important;
}
.tabbar a.button:hover{
  background: url('http://i.imgur.com/2jMHoaC.png') !important;
  border: 1px solid #c8af86 !important;
}
.tabbar a.button:active{
  background: url('http://i.imgur.com/9Jw7LSq.png') !important;
  border: 1px solid #c8af86 !important;
}
.header .logo{
 background: url('http://i.imgur.com/ugAHtUR.png?2');
 width: 146px;
 height: 44px;
 content:"";
 float: left;
 position: relative;
 top: 1px;
 
}
.highlighted{
background: #f8ffa6;
}
 
/*.roomlist{
background: url('http://i.imgur.com/Jhy8yMr.png') left top no-repeat,
                url('http://i.imgur.com/Jhy8yMr.png') right top no-repeat;
}
.roomlist a.ilink{
        background: url('http://i.imgur.com/054wCXb.png');
}
.ps-room.ps-room-light{
        opacity: 1 !important;
}*/
