 #header{background:url("http://slowbuddy.com/wp-content/gallery/plain-background/plasma_ab.jpg")}
 
 body{background-image:url("http://i.imgur.com/52mZCxR.jpg");background-repeat:no-repeat;background-position:center}
 
 .chat-log{font-size:10pt;background: url("http://i.imgur.com/563NKNl.png") no-repeat scroll right bottom;background:#ff895c;color:#000;overflow:auto;}
 
 .menugroup .button{background:#ffa500}.menugroup 
 
 .menugroup {
 background:#ff895c);
 text-align: center;
 }
 
 .button:hover{background:#4876FF}
 
 .userlist {
 border-left: 1px solid #D5DDE4;
 background: #ff895c;
 }
 
 .userlist,
 .userlist li
 }
